.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "SourceHanSansCN-Normal", "Source Han Sans CN", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", STXihei, "华文细黑", STHeiti, MingLiu;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #333;
}
.wb {
  height: 100%;
  width: 100%;
  background-image: url(../imgs/登录背景.png);
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wb .login-container {
  position: absolute;
  left: 50%;
  top: 200px;
  padding: 0 46px;
  height: 594px;
  width: 459px;
  transform: translateX(-50%);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
}
.wb .login-container button {
  height: 100%;
  width: 100%;
  font-size: 16px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.wb .login-container .login-main {
  margin-top: 60px;
  width: 364px;
  font-size: 16px;
}
.wb .login-container .login-main .login-main-header {
  text-align: left;
  user-select: none;
}
.wb .login-container .login-main .login-main-header .title {
  height: 32px;
  font-size: 30px;
  line-height: 32px;
  color: #3981fc;
}
.wb .login-container .login-main .login-main-header .tips {
  margin-top: 20px;
  padding-left: 4px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
}
.wb .login-container .login-main .login-main-form {
  margin-top: 38px;
}
.wb .login-container .login-main .login-main-form .form-item {
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}
.wb .login-container .login-main .login-main-form .form-input .input-item {
  margin-bottom: 18px;
  padding-left: 20px;
  font-size: 16px;
  border: 1px solid #d1d1d1;
}
.wb .login-container .login-main .login-main-form .form-input .input-item label {
  font-size: 16px;
  color: #999;
  user-select: none;
}
.wb .login-container .login-main .login-main-form .form-input .input-item input {
  border: none;
  outline: none;
  font-size: 16px;
}
.wb .login-container .login-main .login-main-form .form-buttons .form-btn {
  margin-bottom: 18px;
  border: 1px solid #3981fc;
  background-color: #3981fc;
}
.wb .login-container .login-main .login-main-form .form-buttons .form-btn button#joinBtn {
  color: #fff;
  background-color: #3981fc;
}
.wb .login-container .login-main .login-main-form .form-buttons .form-btn button#createdBtn {
  color: #3981fc;
}
.wb .login-container .login-main .login-main-form .form-buttons .form-cut-line {
  position: relative;
  margin-top: -18px;
  height: 60px;
  line-height: 50px;
  user-select: none;
}
.wb .login-container .login-main .login-main-form .form-buttons .form-cut-line .line {
  position: absolute;
  width: 137px;
  height: 1px;
  background: #DCDCDC;
}
.wb .login-container .login-main .login-main-form .form-buttons .form-cut-line .line.line-left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.wb .login-container .login-main .login-main-form .form-buttons .form-cut-line .line.line-right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.wb .login-container .login-main .login-main-form .form-buttons .form-cut-line .line-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #999;
}
.wb .login-container .login-main .login-main-set {
  margin-top: 30px;
  text-align: center;
  user-select: none;
}
.wb .login-container .login-main .login-main-set .login-set-btn {
  display: inline-block;
  height: 24px;
  font-size: 16px;
  color: #3981fc;
  border-bottom: 1px solid #3981fc;
  cursor: pointer;
}
.wb .login-container .login-footer {
  position: absolute;
  bottom: 10px;
  width: 364px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.wb .login-container .login-footer .sdk-ver span {
  color: #999;
}
.wb .login-container .login-set {
  width: 364px;
  font-size: 16px;
}
.wb .login-container .login-set .login-set-header {
  position: relative;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
.wb .login-container .login-set .login-set-header .return-icon {
  position: absolute;
  left: -24px;
  top: 20px;
  height: 32px;
  width: 32px;
  background-image: url('../imgs/返回.svg');
  background-size: 100% 100%;
  cursor: pointer;
}
.wb .login-container .login-set .login-set-header .set-title {
  font-size: 18px;
  font-weight: 400;
}
.wb .login-container .login-set .login-set-radio {
  margin-bottom: 22px;
  user-select: none;
}
.wb .login-container .login-set .login-set-radio .radio-list-item {
  height: 46px;
  line-height: 46px;
}
.wb .login-container .login-set .login-set-radio .radio-list-item .item-title {
  float: left;
  width: 102px;
  height: 100%;
}
.wb .login-container .login-set .login-set-radio .radio-list-item .radio-list {
  float: left;
  height: 100%;
}
.wb .login-container .login-set .login-set-radio .radio-list-item .radio-list li {
  float: left;
  width: 86px;
  height: 100%;
  list-style: none;
}
.wb .login-container .login-set .login-set-radio .radio-list-item .radio-list li label,
.wb .login-container .login-set .login-set-radio .radio-list-item .radio-list li input {
  cursor: pointer;
}
.wb .login-container .login-set .login-set-form .form-item {
  margin-top: 12px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  overflow: hidden;
}
.wb .login-container .login-set .login-set-form .form-item.input-item {
  padding-left: 28px;
  border: 1px solid #D1D1D1;
}
.wb .login-container .login-set .login-set-form .form-item.input-item label {
  display: inline-block;
  width: 100px;
  color: #999;
  user-select: none;
}
.wb .login-container .login-set .login-set-form .form-item.input-item input {
  width: 220px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wb .login-container .login-set .login-set-form .form-item.btn-item {
  border: 1px solid #3981fc;
  background-color: #3981fc;
}
.wb .login-container .login-set .login-set-form .form-item.btn-item button#resetBtn {
  color: #3981fc;
}
.wb .login-container .login-set .login-set-form .form-item.btn-item button#confirmBtn {
  color: #fff;
  background-color: #3981fc;
}
.wb .board-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  user-select: none;
}
.wb .board-container .board-header {
  position: relative;
  padding-left: 30px;
  height: 60px;
  line-height: 60px;
  background-color: #3981FC;
  color: #fff;
  font-size: 16px;
  z-index: 3;
}
.wb .board-container .board-header .room-info {
  position: relative;
  float: left;
  width: 200px;
  height: 100%;
}
.wb .board-container .board-header .room-info .roomID {
  float: left;
}
.wb .board-container .board-header .room-info .copy-btn {
  position: relative;
  margin-left: 5px;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 16px;
  background: url(../imgs/复制.svg) center center / 100% 100% no-repeat;
  cursor: pointer;
}
.wb .board-container .board-header .center-select {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 200px;
  height: 100%;
}
.wb .board-container .board-header .center-select .el-select {
  float: left;
  width: 100%;
  height: 100%;
}
.wb .board-container .board-header .center-select .el-select .el-input .el-input__inner {
  height: 36px;
  line-height: 36px;
  border: none;
}
.wb .board-container .board-header .center-select .el-select .el-input .el-input__icon {
  height: auto;
}
.wb .board-container .board-header .record {
  float: right;
  margin-right: 10px;
  width: 110px;
  height: 100%;
}
.wb .board-container .board-header .record .box {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 2s ease;
}
.wb .board-container .board-header .record .box .icon {
  float: left;
  margin: 20px 10px;
  height: 20px;
  width: 20px;
  background: url(../imgs/录制.svg) center center / 100% 100% no-repeat;
}
.wb .board-container .board-header .record .box .text {
  float: left;
  height: 100%;
}
.wb .board-container .board-header .record .box.recording {
  display: none;
}
.wb .board-container .board-header .record .box.recording .icon {
  background-image: url(../imgs/录制中.svg);
  background-size: 60% 60%;
}
.wb .board-container .board-header .record .box.recording .text {
  font-size: 14px;
}
.wb .board-container .board-header .record .box.recording-hover {
  display: none;
}
.wb .board-container .board-header .record .box.recording-hover .icon {
  margin-right: 1px;
  background-image: url(../imgs/录制hover.svg);
}
.wb .board-container .board-header .record .box.recording-hover .text {
  margin-top: 30px;
  padding: 3px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #333333;
  border-radius: 2px;
  background-color: #fff;
}
.wb .board-container .board-header .record.recording .ready {
  display: none;
}
.wb .board-container .board-header .record.recording .recording {
  display: block;
}
.wb .board-container .board-header .record.recording:hover .recording {
  display: none;
}
.wb .board-container .board-header .record.recording:hover .recording-hover {
  display: block;
}
.wb .board-container .board-header .user-info {
  float: right;
  margin-right: 110px;
  font-size: 16px;
}
.wb .board-container .board-header .left-room-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.wb .board-container #backVideo {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 60px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
.wb .board-container .board-main {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 60px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  overflow: hidden;
}
.wb .board-container .board-main .board-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #eee;
}
.wb .board-container .board-main .tool-box {
  position: absolute;
  left: 5%;
  top: 45%;
  transform: translateY(-50%);
  padding: 5px 0;
  width: 44px;
  height: 440px;
}
.wb .board-container .board-main .tool-box .shadow {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
}
.wb .board-container .board-main .tool-box .tool-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
}
.wb .board-container .board-main .tool-box .tool-list .tool-item {
  display: block;
  list-style: none;
  height: 36px;
  width: 36px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border-radius: 3px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.wb .board-container .board-main .tool-box .tool-list .tool-item:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.active {
  background-color: #E6E6E6;
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.disabled {
  background-color: #ffffff;
  cursor: not-allowed;
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.arrow {
  background-image: url(../imgs/光标.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.arrow:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.arrow.active {
  background-image: url(../imgs/光标hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.pencil {
  background-image: url(../imgs/铅笔.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.squareLine {
  background-image: url(../imgs/正方形框.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.straightLine {
  background-image: url(../imgs/直线.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.roundLine {
  background-image: url(../imgs/圆圈.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.arrows {
  background-image: url(../imgs/箭头.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.squareFill {
  background-image: url(../imgs/正方形填充.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.roundFill {
  background-image: url(../imgs/圆形填充.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.pentacleLine {
  background-image: url(../imgs/五角星.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen:hover.pencil,
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.active.pencil {
  background-image: url(../imgs/铅笔hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen:hover.squareLine,
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.active.squareLine {
  background-image: url(../imgs/正方形框hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen:hover.straightLine,
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.active.straightLine {
  background-image: url(../imgs/直线hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen:hover.roundLine,
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.active.roundLine {
  background-image: url(../imgs/圆圈hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen:hover.arrows,
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.active.arrows {
  background-image: url(../imgs/箭头hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen:hover.squareFill,
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.active.squareFill {
  background-image: url(../imgs/正方形填充hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen:hover.roundFill,
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.active.roundFill {
  background-image: url(../imgs/圆形填充hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen:hover.pentacleLine,
.wb .board-container .board-main .tool-box .tool-list .tool-item.pen.active.pentacleLine {
  background-image: url(../imgs/五角星hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._F0F0F0 {
  background-image: url(../imgs/F0F0F0.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._7B7B7B {
  background-image: url(../imgs/7B7B7B.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._FF0000 {
  background-image: url(../imgs/FF0000.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._FF6B00 {
  background-image: url(../imgs/FF6B00.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._FFB800 {
  background-image: url(../imgs/FFB800.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._68DB00 {
  background-image: url(../imgs/68DB00.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._00DDFF {
  background-image: url(../imgs/00DDFF.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._007FFF {
  background-image: url(../imgs/007FFF.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._BD00FF {
  background-image: url(../imgs/BD00FF.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.color._FF00F4 {
  background-image: url(../imgs/FF00F4.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.font {
  background-image: url(../imgs/文字.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.font:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.font.active {
  background-image: url(../imgs/文字hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.eraser {
  background-image: url(../imgs/橡皮擦.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.eraser:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.eraser.active {
  background-image: url(../imgs/橡皮擦hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.undo {
  background-image: url(../imgs/撤销.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.undo:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.undo.active {
  background-image: url(../imgs/撤销hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.undo.disabled {
  background-image: url(../imgs/撤销disabled.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.undo.disabled:hover {
  background-image: url(../imgs/撤销disabled.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.redo {
  background-image: url(../imgs/恢复.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.redo:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.redo.active {
  background-image: url(../imgs/恢复hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.redo.disabled {
  background-image: url(../imgs/恢复disabled.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.redo.disabled:hover {
  background-image: url(../imgs/恢复disabled.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.clean {
  background-image: url(../imgs/清空.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.clean:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.clean.active {
  background-image: url(../imgs/清空hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.hands {
  background-image: url(../imgs/抓手.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.hands:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.hands.active {
  background-image: url(../imgs/抓手hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pic {
  background-image: url(../imgs/图片.svg);
  cursor: not-allowed;
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.pic:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.pic.active {
  background-image: url(../imgs/图片hover.svg);
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.save {
  background-image: url(../imgs/保存.svg);
  cursor: not-allowed;
}
.wb .board-container .board-main .tool-box .tool-list .tool-item.save:hover,
.wb .board-container .board-main .tool-box .tool-list .tool-item.save.active {
  background-image: url(../imgs/保存hover.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: absolute;
  top: 57px;
  left: 56px;
  padding: 12px 0;
  height: 85px;
  width: 185px;
  box-sizing: border-box;
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item {
  margin-left: 16px;
  height: 26px;
  width: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s ease;
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item:hover {
  background-color: #e6e6e6;
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.pencil {
  background-image: url(../imgs/铅笔.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.pencil:hover,
.wb .board-container .board-main .tool-box .pen-type-box .type-item.pencil.active {
  background-image: url(../imgs/铅笔hover.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.squareLine {
  background-image: url(../imgs/正方形框.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.squareLine:hover,
.wb .board-container .board-main .tool-box .pen-type-box .type-item.squareLine.active {
  background-image: url(../imgs/正方形框hover.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.roundLine {
  background-image: url(../imgs/圆圈.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.roundLine:hover,
.wb .board-container .board-main .tool-box .pen-type-box .type-item.roundLine.active {
  background-image: url(../imgs/圆圈hover.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.straightLine {
  background-image: url(../imgs/直线.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.straightLine:hover,
.wb .board-container .board-main .tool-box .pen-type-box .type-item.straightLine.active {
  background-image: url(../imgs/直线hover.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.arrows {
  background-image: url(../imgs/箭头.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.arrows:hover,
.wb .board-container .board-main .tool-box .pen-type-box .type-item.arrows.active {
  background-image: url(../imgs/箭头hover.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.squareFill {
  background-image: url(../imgs/正方形填充.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.squareFill:hover,
.wb .board-container .board-main .tool-box .pen-type-box .type-item.squareFill.active {
  background-image: url(../imgs/正方形填充hover.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.roundFill {
  background-image: url(../imgs/圆形填充.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.roundFill:hover,
.wb .board-container .board-main .tool-box .pen-type-box .type-item.roundFill.active {
  background-image: url(../imgs/圆形填充hover.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.pentacleLine {
  background-image: url(../imgs/五角星.svg);
}
.wb .board-container .board-main .tool-box .pen-type-box .type-item.pentacleLine:hover,
.wb .board-container .board-main .tool-box .pen-type-box .type-item.pentacleLine.active {
  background-image: url(../imgs/五角星hover.svg);
}
.wb .board-container .board-main .tool-box .color-width-box {
  position: absolute;
  top: 56px;
  left: 56px;
  padding: 12px 16px;
  height: 165px;
  width: 200px;
  font-size: 12px;
  box-sizing: border-box;
}
.wb .board-container .board-main .tool-box .color-width-box .type-text {
  float: left;
  height: 18px;
  line-height: 18px;
}
.wb .board-container .board-main .tool-box .color-width-box .line-width {
  float: left;
  margin: 10px 0 8px -12px;
  height: 26px;
  width: 100%;
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item {
  float: left;
  margin-left: 12px;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item:hover,
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.active {
  background-color: #e6e6e6;
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width1 {
  background-image: url(../imgs/线宽1.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width1:hover,
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width1.active {
  background-image: url(../imgs/线宽1hover.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width2 {
  background-image: url(../imgs/线宽2.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width2:hover,
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width2.active {
  background-image: url(../imgs/线宽2hover.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width4 {
  background-image: url(../imgs/线宽4.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width4:hover,
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width4.active {
  background-image: url(../imgs/线宽4hover.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width6 {
  background-image: url(../imgs/线宽6.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width6:hover,
.wb .board-container .board-main .tool-box .color-width-box .line-width .width-item.width6.active {
  background-image: url(../imgs/线宽6hover.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  float: left;
  margin-left: -14px;
  margin-top: 5px;
  height: 60px;
  width: 110%;
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item {
  margin-left: 10px;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
  cursor: pointer;
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item:hover,
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item.active {
  background-color: #e6e6e6;
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._F0F0F0 {
  background-image: url(../imgs/F0F0F0.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._7B7B7B {
  background-image: url(../imgs/7B7B7B.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._FF0000 {
  background-image: url(../imgs/FF0000.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._FF6B00 {
  background-image: url(../imgs/FF6B00.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._FFB800 {
  background-image: url(../imgs/FFB800.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._68DB00 {
  background-image: url(../imgs/68DB00.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._00DDFF {
  background-image: url(../imgs/00DDFF.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._007FFF {
  background-image: url(../imgs/007FFF.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._BD00FF {
  background-image: url(../imgs/BD00FF.svg);
}
.wb .board-container .board-main .tool-box .color-width-box .line-color .color-item._FF00F4 {
  background-image: url(../imgs/FF00F4.svg);
}
.wb .board-container .board-main .tool-box .font-set-box {
  position: absolute;
  top: 154px;
  left: 56px;
  padding: 12px 74px 12px 14px;
  width: auto;
  height: 50px;
  white-space: nowrap;
  font-size: 0;
  line-height: 50px;
  box-sizing: border-box;
  user-select: none;
}
.wb .board-container .board-main .tool-box .font-set-box .font {
  display: inline-block;
  margin-right: 8px;
  height: 26px;
  width: 26px;
  border-radius: 2px;
  box-sizing: border-box;
  vertical-align: top;
  cursor: pointer;
}
.wb .board-container .board-main .tool-box .font-set-box .font.font-bold {
  background: url(../imgs/字体加粗.svg) center center / 100% 100%;
}
.wb .board-container .board-main .tool-box .font-set-box .font.font-underline {
  background: url(../imgs/字体下划线.svg) center center / 100% 100%;
}
.wb .board-container .board-main .tool-box .font-set-box .font.font-italic {
  background: url(../imgs/斜体.svg) center center / 100% 100%;
}
.wb .board-container .board-main .tool-box .font-set-box .font.active,
.wb .board-container .board-main .tool-box .font-set-box .font:hover {
  background-color: #e6e6e6;
}
.wb .board-container .board-main .tool-box .font-set-box .font-color {
  display: inline-block;
  margin: 1px 12px 0px 0px;
  height: 24px;
  width: 24px;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._F0F0F0 {
  background-image: url(../imgs/F0F0F0.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._7B7B7B {
  background-image: url(../imgs/7B7B7B.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._FF0000 {
  background-image: url(../imgs/FF0000.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._FF6B00 {
  background-image: url(../imgs/FF6B00.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._FFB800 {
  background-image: url(../imgs/FFB800.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._68DB00 {
  background-image: url(../imgs/68DB00.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._00DDFF {
  background-image: url(../imgs/00DDFF.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._007FFF {
  background-image: url(../imgs/007FFF.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._BD00FF {
  background-image: url(../imgs/BD00FF.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-color._FF00F4 {
  background-image: url(../imgs/FF00F4.svg);
}
.wb .board-container .board-main .tool-box .font-set-box .font-size {
  position: absolute;
  top: 7px;
  right: 14px;
  width: 60px;
  height: 36px;
  border-radius: 3px;
}
.wb .board-container .board-main .float-box {
  position: absolute;
  left: 45px;
  bottom: 40px;
  height: 42px;
  width: 228px;
  line-height: 42px;
  font-size: 12px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 2px;
  background-color: #fff;
  user-select: none;
}
.wb .board-container .board-main .float-box .scale {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 114px;
  height: 20px;
  border-right: 1px solid #D5D5D5;
  box-sizing: border-box;
}
.wb .board-container .board-main .float-box .scale .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.wb .board-container .board-main .float-box .scale .icon.zoom-out {
  left: 16px;
  background: url(../imgs/缩小.svg) center center / 100% 100%;
}
.wb .board-container .board-main .float-box .scale .icon.zoom-in {
  left: 86px;
  background: url(../imgs/放大.svg) center center / 100% 100%;
}
.wb .board-container .board-main .float-box .scale .percent-input {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 33px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
}
.wb .board-container .board-main .float-box .scale .percent-input input {
  padding: 0;
  width: 22px;
  height: 20px;
  border: none;
  outline: none;
  text-align: right;
  background-color: inherit;
  vertical-align: middle;
}
.wb .board-container .board-main .float-box .scale .percent-input .percent {
  margin-left: 1px;
  width: auto;
}
.wb .board-container .board-main .float-box .page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 114px;
  top: 50%;
  transform: translateY(-50%);
  width: 114px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}
.wb .board-container .board-main .float-box .page .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.wb .board-container .board-main .float-box .page .icon.last-page-btn {
  background: url(../imgs/箭头-上一页.svg) center center / 16px 16px;
}
.wb .board-container .board-main .float-box .page .icon.next-page-btn {
  background: url(../imgs/箭头-下一页.svg) center center / 16px 16px;
}
.wb .board-container .board-main .float-box .page .page-text {
  display: inline-block;
  margin: 0 10px;
  height: 20px;
  line-height: 21px;
  font-weight: 500;
}
.wb .board-container .board-main .float-box .setting {
  position: absolute;
  left: 238px;
  top: 50%;
  transform: translateY(-50%);
  height: 42px;
  width: 48px;
  background: url(../imgs/设置按钮.svg) center center / 32px 32px no-repeat;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
}
.wb .board-container .board-main .setting-box {
  position: absolute;
  left: 150px;
  bottom: 100px;
  width: 317px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 10px #ccc;
  font-size: 15px;
  overflow: hidden;
  user-select: none;
}
.wb .board-container .board-main .setting-box .title {
  float: left;
  padding-left: 12px;
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-weight: 500;
  border-bottom: 1px solid #E1E1E1;
  box-sizing: border-box;
  background-color: #F7F7F7;
}
.wb .board-container .board-main .setting-box .title .close-btn {
  float: right;
  height: 100%;
  width: 12px;
  margin-right: 12px;
  background: url(../imgs/关闭.svg) no-repeat center center / 100% 100%;
  cursor: pointer;
}
.wb .board-container .board-main .setting-box .main {
  float: left;
  padding: 20px 40px 20px;
  width: 100%;
  box-sizing: border-box;
}
.wb .board-container .board-main .setting-box .main .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  line-height: 32px;
}
.wb .board-container .board-main .btn-box {
  position: absolute;
  height: 50px;
  width: 155px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.wb .board-container .board-main .btn-box .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
}
.wb .board-container .board-main .btn-box .text {
  margin-left: 56px;
}
.wb .board-container .board-main .btn-box.delete-btn-box {
  right: 240px;
  bottom: 50px;
  color: #333;
  background-color: #dbdbdb;
}
.wb .board-container .board-main .btn-box.delete-btn-box .icon {
  background: url(../imgs/删除.svg) no-repeat center center / 70% 70%;
}
.wb .board-container .board-main .btn-box.new-btn-box {
  right: 60px;
  bottom: 50px;
  color: #fff;
  background-color: #3981fc;
}
.wb .board-container .board-main .btn-box.new-btn-box .icon {
  background: url(../imgs/新建白板.svg) no-repeat center center / 70% 70%;
}
[v-cloak] {
  display: none;
}
.el-select-dropdown__item {
  width: 200px;
}
.el-input-number.is-controls-right {
  width: 100%;
  height: 100%;
  line-height: 36px;
  overflow: hidden;
}
.el-input-number.is-controls-right .el-input-number__decrease,
.el-input-number.is-controls-right .el-input-number__increase {
  width: 15px;
}
.el-input-number.is-controls-right .el-input .el-input__inner {
  padding-left: 0px;
  padding-right: 16px;
  height: 36px;
  line-height: 36px;
}
